CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
/bin
/log
/build/
/data
/www/report*
/local.conf
/secure_data
/run/
/prod/
/.settings
/www/fav_*.png
generated
/errors.log
*.deb
/install_manifest.txt
