.stdline {
	stroke: #FF8;
	stroke-width: 2px;
	fill: none;
}

.stdline2 {
	stroke: #afdeff;
	stroke-width: 2px;
	fill: none;
}


.minoraxe {
	stroke: #888;
	stroke-opacity: 0.5;
}

.marker.buy {
	fill: #4F4;
}

.marker.sell {
	fill: #F44;
}
.marker.alert {
	fill: white;
}

.marker.ohlc {
	stroke: black;
	stroke-width: 2px;
}
line.marker.buy {
	stroke:#4f4;
	stroke-width:3px;
}
line.marker.sell {
	stroke:#F44;
	stroke-width:3px;
}
.majoraxe {
	stroke: #FFF;	
}


.lineaxis {
	stroke: #888;
	stroke-width: 1px;
}

.textaxis {
	vertical-align: center;
	text-anchor: begin;
	alignment-baseline: after-edge;
	font-size: 20px;
	fill: #888;
}

.textaxisx {
	text-anchor: middle;
	alignment-baseline: before-edge;
	font-size: 20px;
	fill: #888;
}

.textaxis.bottom {
	alignment-baseline: after-edge;
}
.orderline {
	stroke: #9fc9e7;
	stroke-width:2;
	stroke-dasharray:4;	
}

.orderline.buy{
	stroke: #AFA;
}

.orderline.sell{
	stroke: #FAA;
}
.orderline.last{
	stroke: #AAF;
}

.orderline.current{
	stroke: #f4ff88;	
}

.textorderline {
	font-size: 27px;
	fill: #FFF;
	alignment-baseline: after-edge;
	font-style: italic;
	text-shadow: 0 0 10px black;
	font-weight: bold;
	transform: translate(7em,0);
}

.textorderline.current {
	transform:none;

}

.ohlc.bull {
	fill: #1d3e2ecc;
	stroke: #51a67ccc;
	stroke-width: 2px;
}
.ohlc.bear {
    fill: #a67051cc;
    stroke: #a67051cc;
    stroke-width: 2px;
}
.ohlc.bull.wick {
	stroke-width: 2px;
}
.ohlc.bear.wick {
stroke-width: 2px;
}

.ohlctrademarker,.ohlcordermarker {
	font-size: 25px;
	fill: #FFF;
	text-shadow: 0 0 10px black;
}

.ohlctrademarker text {
    text-anchor: end;
    alignment-baseline: mathematical;
    transform: translate(-8px,0);
}

.ohlcordermarker.buy {
	fill: #88c888;
}

.ohlcordermarker.sell {
    fill: #c88888;    
}

.ohlcordermarker.buy  text {
	alignment-baseline: before-edge;
	text-anchor: end;
}
.ohlcordermarker.sell text {
    alignment-baseline: after-edge;
    text-anchor: end;
}

