x-slider {
	display: inline-block;
	padding-left: 5.2em;
	position:  relative;
}
x-slider > div {
	height: 100%;
}
x-slider > div >input {
	display: block;
	box-sizing: border-box;
	width:100%;
	height:100%;
	text-align: center;
}
x-slider > div:nth-child(2) {
	position:absolute;
	left: 0;
	top:0;
	width: 5em;
	bottom:0;
}

x-slider[disabled]>*{
	opacity: 0.3;
	pointer-events: none;

}


x-checkbox {
	display: inline;
	cursor: pointer;
}

x-checkbox[disabled] {
	opacity: 0.5;
	pointer-events: none;
	cursor: default;
}

x-checkbox.checked  {
	font-weight: bold;
}

x-checkbox > span:first-child{
	display: inline-block;
	height: 1.2em;
	width: 2.4em;
	border: 2px solid #AAA;
	border-radius: 0.5em;
	transition: all 0.2s;
	position:relative;
	vertical-align: middle;
	margin: 0.2em;
}

x-checkbox > span >span {
	display:block;
	border-radius: 0.35em;
	background-color: #9a5050;
	position:absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 50%;
	/* margin: 0.2em; */
	transition: all 0.2s;
}

x-checkbox.checked >span:first-child  {
	border: 2px solid #dcdcdc;
}

x-checkbox.checked >span>span  {
	background-color: #4CAF50;
	right: 0;
	left: 50%;
}

x-checkbox.radio > span {width: 1em; border-radius: 1em}
x-checkbox.radio > span > span {
	  left: 0;
	  right: 0;
	  opacity: 0;
}

x-checkbox.radio.checked > span > span {
	  opacity: 1;
}


x-checkbox.radio.checked {
	
}

x-form {
	display:block;
}

x-form.broker-pair {text-align: center;}

x-form.broker-pair table.selector {margin: auto;}

x-form-item {
	display: flex;
align-items: center;
min-height: 2em;}
x-form-item[hidden] {
	display: none;
}

x-form-item > *:last-child {
	width: 40%;
}

x-form-item > *:first-child {
	/* width: 60%; */
	
flex-grow: 1;}

x-form-item > input {
	height: 1.5em;
		text-align: center;

}
x-popup {
	display:block;
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	text-align: center;
overflow: auto;white-space: nowrap;}

x-popup.apikey-popup .lnk svg {height: 1.5em;vertical-align: middle;}

x-popup.apikey-popup .lnk {text-align: right;}



x-popup.broker-select .list .item {display: flex;align-items: center;gap: 0.3em;opacity: 0.7;}

x-popup.broker-select .list .item.available {font-weight: bold;opacity: 2;}

x-popup.broker-select .list {display: flex;flex-direction: column;flex-wrap: wrap;max-height: 50vh;gap: 0.2em;}

x-popup.broker-select img {width: 32px;}

x-popup.broker-select svg {height: 1.5em;display: none;vertical-align: middle;}

x-popup.broker-select .available svg {display: inline-block;}

x-popup::before {
	content: "";
	display: inline-block;
	height: 90%;
vertical-align: middle;}
x-dialog {
	display: inline-block;
		background-color: black;	
	border: 1px solid wheat;
	text-align:left;vertical-align: middle;white-space: normal;min-width: 35em;box-shadow: 15px 14px 13px 0px black;}
x-dialog > x-form,x-dialog > form {
	padding: 1em;
}
x-dialog > x-dlg-title {display: block;padding: 0.5em;background-color: #584d08;color: yellow;font-weight: bold;text-align: center;}


x-form .error {
	display: none;
	color: red;
	text-align:right;
	min-height: 0;
}

x-form .error.mark {
	display:block;
}

x-button-bar {
	display: block;
	text-align: right;
	margin-top: 1em;
	
}

x-form.broker-pair x-button-bar {
	text-align: center;
}