@charset "UTF-8";
 
@import url(https://fonts.googleapis.com/css?family=Ruda&display=swap);
body {
	background-color: #222;
	color:#CDCDCD;
	font-family: Ruda;
	margin:0;
	font-size: 14px;
	padding: 0;
}

a,.link {color: yellow; text-decoration: underline; cursor: pointer;}

a.block {display: block;color: inherit;text-decoration: none;/* flex-grow: 1; */}

a.block:visited {color: inherit;}
a:visited {color: #ffa800;}

svg {filter: drop-shadow(2px 2px 6px black);}

[hidden] {display: none !important;}
input,select,button,textarea {
	background-color: black;
	border: 1px solid #888;
	padding: 0.1cm;
	color: white;
	font-family: Ruda;
	font-size: 0.4cm;
	box-sizing:border-box;
}
input[type="date"] {
	padding: 0;
	width: 49%;
	text-align: center;
	font-size: 0.8em;
}
input[readonly] {
	border: 0;
	cursor: default;
}
input[disabled],select[disabled],button[disabled],button[disabled]:hover {
	background-color: #373737;
	color: #888;
	
}

input[type=number] {
        -moz-appearance: textfield;
}
button {
	background-color: #444;
	box-shadow: 2px 2px 5px black;
	min-width: 5em;
	margin: 0 0.4em;
}

button:hover {
	color: yellow;
}
button:active {
	box-shadow: 0px 0px 0px black;
	transform: translate(2px,2px);
}
select {
    appearance: none;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAgCAQAAAC8nkAAAAAAnElEQVQ4y2NgGAXDBPxX/2+ERZTtv9l/SUxh1////ydhiE76//q/CDazZ/9//V8CRcT8/+//odgdwvf//v81SHzO/5f+L8Ptbof/v/5HwHnt/5/+58fnzZb/X/+LMjAwMPy3/P/7vz3+MGH8f/T/AQaG/+z/X/6vR5dlxFAuzHCNYR6DIcNfBn/GP4RD3Oj/9/83/guOpr1RQCMAALnoRw41qoTsAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-size: 1em;
    background-origin: padding-box;
    padding-right: 1em;
    box-sizing: border-box;
}

x-switch.block {
	display:block;
}
x-switch.block[hidden] {
	display:hidden;
}

div.toppanel {display: flex;justify-content: space-between;align-items: center;align-content: space-between;background-color: #443;border-bottom: 1px solid #884;box-shadow: 0px 8px 20px black;position: sticky;;top: 0;z-index: 1000;}

.desktop {margin: 1em 1vw;display: flex;gap: 1em;;}

.desktop > .menupart {width: 200px;flex-grow: 0;flex-shrink: 0;}

.desktop > .workspace {flex-grow: 1;}

.page h1 > svg {height: 2em;vertical-align: middle;}

.page h1 {background: linear-gradient(90deg, #332, transparent);padding: 0.5em;border-radius: 10px 10px;border: 1px solid #663;margin: 0;}

.page .list {display: flex;flex-wrap: wrap;margin-top: 2em;gap: 1em;;}

.page .list .item {border: 1px solid #442;width: 18em;padding: 1em;border-radius: 5px 5px;font-size: 1.2em;text-align: justify;z-index: 0;position: relative;}

.page.apikeys .list .item {padding-right: 3em;}

.page.apikeys .item a svg {height: 1.4em;}

.page.apikeys .item .buttons {position: absolute;right: 0.5em;top: 0;bottom: 0;height: 2em;margin: auto;}

.page.apikeys .item .buttons svg {height: 2em;}

.active {cursor: pointer;}

.page.apikeys .list .item .name {display: inline-block;vertical-align: middle;}

.page.apikeys .list .item .name >div:last-child {font-style: italic;}

.page .list .item.accdis::after {content: "";display: block;position: absolute;top: 1em;right: 1em;left: 1em;bottom: 1em;background-image: url(cross.svg);background-size: 100% 100%;opacity: 0.3;}

.page.users .list .acl {flex-direction: row;align-items: flex-end;font-size: 0.7em;font-style: italic;}
.page.users .list .acl > * {display: inline-block;}
.page.users .list .acl > *::after {content: ",\00A0";}
.page.users .list .acl > *:last-child::after {content:none;}

.active:hover {background-color: #333;}

.page .list svg,.page .list img {height: 3em;vertical-align: middle;}

.optionsgrid {display: flex;flex-wrap: wrap;align-items: center;justify-content: center;gap: 1px;}

.optionsgrid > * {width: 120px;height: 120px;text-align: center;padding: 0.5em;background-color: #222;display: flex;flex-direction: column;align-items: center;justify-content: center;align-content: center;border-radius: 20px 20px;cursor: pointer;}
.optionsgrid > a.block {display: flex;} 
.optionsgrid > *:hover {background-color: #442;}
.optionsgrid > *:active {transform: translate(2px,2px);}
.optionsgrid > *:active svg {filter: drop-shadow(0px 0px 6px black);}

.optionsgrid span {display: block;margin-top: 0.5em;}

.optionsgrid svg {width: 64px;}
.optionsgrid > *::before {
	/* content: ""; */
display: block;padding-top: 100%;float: left;} 
div.toppanel > div.menuleft {display: flex;justify-content: flex-start;gap: 1em;width: 47%;}
div.toppanel > div.menuright {display: flex;justify-content: flex-end;}
div.panelbutton {display:flex;flex-wrap: wrap;align-items: center;justify-items: center;align-content: center;justify-content: center; cursor: pointer;padding: 0 0.5vw;height: 4em;position:relative;text-shadow: 2px 2px 5px black;}

.panelbutton.clickable:active {transform: translate(2px,2px);text-shadow: 0px 0px 5px black;}

div.panelbutton.usermenu >svg> .svgicon {fill: #d6d6d6;}
div.panelbutton.usermenu.jwt >svg> .svgicon {fill: yellow;}
div.panelbutton.usermenu.exists >svg> .svgicon {fill: #65b065;}
div.panelbutton img, div.panelbutton svg {width: 40px;}
div.panelbutton.clickable:active img, div.panelbutton.clickable:active svg {width: 40px;filter: drop-shadow(0px 0px 6px black);}
div.panelbutton span {white-space: nowrap;padding: 0.3em;}
svg .svgicon {
	fill: #cdcdcd;
}
div.panelbutton:hover {
	background-color: #554;
}
div.panelbutton > div.right.submenu {
	position: absolute;
	top: 4em;
	
	z-index: 2;right:0;
	
	border: 1px solid #883;
	background-color: #442;
	display:none;
box-shadow: 0px 10px 11px 0px black;opacity: 0.99;}
div.panelbutton:hover > div.right.submenu {
	display: block;
z-index: 1;}

ul.menu {
	padding: 0;
margin: 0;}

ul.menu > li {list-style: none;padding: 0.2em 0.5em;margin: 0;cursor: pointer;display: flex;align-items: center;}

ul.menu > li svg {
	width: 40px;
vertical-align: middle;height: 40px;flex-shrink: 0;}

ul.menu > li:hover {background-color: #663;}

.apikey-popup x-form-item > *:last-child {
	width: 70%;
}

div.smalltitle {text-align: center;padding: 0.5em;font-weight: bold;border-bottom: 1px solid;}

.circle-loader {
  display:none;
  position: relative;
  vertical-align: middle;
  width: 2em;
  height: 2em;
  box-sizing: border-box;
}

.done .circle-loader {
	animation: circle-loader-vanish 2s linear;
	animation-fill-mode: forwards;
}

.circle-loader::before {
  position: absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  content:"";
  display:block;	
  border-radius: 50%;
  background-color: #0800;
  animation: loader-spin 0.5s infinite linear;
  border: 0.3em solid rgba(0, 0, 0, 0.2);
  border-left-color: #ff4;
  border-right-color: #ff4;
}

.processing .circle-loader::before {
}

.done .circle-loader::before {
  display: inline-block;
  border-width: 0;
  background-color: #080F;
  animation: circle-loader-bg 0.5s linear;
}

.processing .circle-loader,.done .circle-loader {
	display: inline-block;
overflow: hidden;}

x-form .spinner.processing {text-align: center;}

.done .circle-loader > .checkmark {
   display: block; 
}
.circle-loader > .checkmark {
   display: none; 
}

.circle-loader::after {
  height: 1em;
  width: 0.5em;
  transform-origin: left top;
  border-right: 0.4em solid white;
  border-top: 0.4em solid white;
  content: "";
  left: 0.4em;
  top: 1.1em;
  position: absolute;  
  transform: scaleX(-1) rotate(135deg);
  opacity: 0;
}
.done .circle-loader::after {  
  animation-duration: 400ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  animation-fill-mode: forwards;opacity: 1;
}

.not-authorized {text-align: center;max-width: 24em;margin: auto;}
.not-authorized svg {width: 100px;}
.not-authorized > div {font-size: 1.5em;white-space: normal;font-weight: bold;}


@keyframes loader-spin {
  0% {  transform: rotate(0deg); }
  100% {  transform: rotate(360deg); }
}
@keyframes checkmark {
  0% {   height: 0;  width: 0; }
  50% {   height: 0;   width: 0.3em; }
  100% {   height: 0.8em;   width: 0.3em; }  
}

@keyframes circle-loader-vanish {
	0% {max-width: 2em;	opacity: 1;}
	80%{max-width: 2em;opacity: 1;}
	100% {	max-width: 0;	opacity: 0;}
}
@keyframes circle-loader-bg {
	0% {background-color: #0000;}
	100% {background-color: #080F;}
}

