@charset "UTF-8";
 
@import url(https://fonts.googleapis.com/css?family=Ruda&display=swap);
body {
	background-color: #222;
	color:#CDCDCD;
	font-family: Ruda;
	margin:0;
	font-size: 14px;
	padding: 0;
}

a,.link {color: yellow; text-decoration: underline; cursor: pointer;}
a:visited {color: #ffa800;}


[hidden] {display: none !important;}
input,select,button,textarea {
	background-color: black;
	border: 1px solid #888;
	padding: 0.1cm;
	color: white;
	font-family: Ruda;
	font-size: 0.4cm;
	box-sizing:border-box;
}
input[type="date"] {
	padding: 0;
	width: 49%;
	text-align: center;
	font-size: 0.8em;
}
input[readonly] {
	border: 0;
	cursor: default;
}
input[disabled],select[disabled],button[disabled],button[disabled]:hover {
	background-color: #444;
	color: #888;
	
}

input[type=number] {
        -moz-appearance: textfield;
}
button {
	background-color: #444;
	box-shadow: 2px 2px 5px black;
	min-width: 5em;
	margin: 0 0.4em;
}

button:hover {
	color: yellow;
}
button:active {
	box-shadow: 0px 0px 0px black;
	transform: translate(2px,2px);
}
select {
    appearance: none;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAgCAQAAAC8nkAAAAAAnElEQVQ4y2NgGAXDBPxX/2+ERZTtv9l/SUxh1////ydhiE76//q/CDazZ/9//V8CRcT8/+//odgdwvf//v81SHzO/5f+L8Ptbof/v/5HwHnt/5/+58fnzZb/X/+LMjAwMPy3/P/7vz3+MGH8f/T/AQaG/+z/X/6vR5dlxFAuzHCNYR6DIcNfBn/GP4RD3Oj/9/83/guOpr1RQCMAALnoRw41qoTsAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-size: 1em;
    background-origin: padding-box;
    padding-right: 1em;
    box-sizing: border-box;
}

x-switch.block {
	display:block;
}
x-switch.block[hidden] {
	display:hidden;
}

div.toppanel {display: flex;justify-content: space-between;align-items: center;align-content: space-between;padding: 1%;background-color: #2c3834;}
div.toppanel > div.menuleft {display: flex;justify-content: flex-start;gap: 1em;width: 47%;}
div.toppanel > div.menuright {display: flex;justify-content: flex-end;gap:  1em;/* width: 47%; */}
div.panelbutton {display:flex;flex-wrap: wrap;align-items: center;justify-items: center;align-content: center;justify-content: center;}
div.panelbutton img {width: 40px;}
div.panelbutton span {white-space: nowrap;}

