@charset "UTF-8";
 
@import url(https://fonts.googleapis.com/css?family=Ruda&display=swap);
body {
	background-color: #222;
	color:#CDCDCD;
	font-family: Ruda;
	margin:0;
	font-size: 14px;
	padding: 0;
}

a,.link {color: yellow; text-decoration: underline; cursor: pointer;}

a.block {display: block;color: inherit;text-decoration: none;flex-grow: 1;}

a.block:visited {color: inherit;}
a:visited {color: #ffa800;}


[hidden] {display: none !important;}
input,select,button,textarea {
	background-color: black;
	border: 1px solid #888;
	padding: 0.1cm;
	color: white;
	font-family: Ruda;
	font-size: 0.4cm;
	box-sizing:border-box;
}
input[type="date"] {
	padding: 0;
	width: 49%;
	text-align: center;
	font-size: 0.8em;
}
input[readonly] {
	border: 0;
	cursor: default;
}
input[disabled],select[disabled],button[disabled],button[disabled]:hover {
	background-color: #444;
	color: #888;
	
}

input[type=number] {
        -moz-appearance: textfield;
}
button {
	background-color: #444;
	box-shadow: 2px 2px 5px black;
	min-width: 5em;
	margin: 0 0.4em;
}

button:hover {
	color: yellow;
}
button:active {
	box-shadow: 0px 0px 0px black;
	transform: translate(2px,2px);
}
select {
    appearance: none;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAgCAQAAAC8nkAAAAAAnElEQVQ4y2NgGAXDBPxX/2+ERZTtv9l/SUxh1////ydhiE76//q/CDazZ/9//V8CRcT8/+//odgdwvf//v81SHzO/5f+L8Ptbof/v/5HwHnt/5/+58fnzZb/X/+LMjAwMPy3/P/7vz3+MGH8f/T/AQaG/+z/X/6vR5dlxFAuzHCNYR6DIcNfBn/GP4RD3Oj/9/83/guOpr1RQCMAALnoRw41qoTsAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-size: 1em;
    background-origin: padding-box;
    padding-right: 1em;
    box-sizing: border-box;
}

x-switch.block {
	display:block;
}
x-switch.block[hidden] {
	display:hidden;
}

div.toppanel {display: flex;justify-content: space-between;align-items: center;align-content: space-between;background-color: #443;border-bottom: 1px solid #884;box-shadow: 0px 8px 20px black;position: sticky;;top: 0;}

.desktop {margin: 1em 1vw;display: flex;gap: 1em;;}

.desktop > .menupart {width: 200px;flex-grow: 0;flex-shrink: 0;}

.desktop > .workspace {flex-grow: 1;}

.page h1 > svg {height: 2em;vertical-align: middle;}

.page h1 {background: linear-gradient(90deg, #332, transparent);padding: 0.5em;border-radius: 10px 10px;border: 1px solid #663;margin: 0;}

.page.users .list {display: flex;flex-wrap: wrap;margin-top: 2em;gap: 1em;;}

.page.users .list .user {border: 1px solid #442;width: 18em;padding: 1em;cursor: pointer;border-radius: 5px 5px;font-size: 1.2em;text-align: justify;}

.page.users .list .acl {flex-direction: row;align-items: flex-end;font-size: 0.7em;font-style: italic;}
.page.users .list .acl > * {display: inline-block;}
.page.users .list .acl > *::after {content: ",\00A0";}
.page.users .list .acl > *:last-child::after {content:none;}

.page.users .list .user:hover {background-color: #333;}

.page.users .list svg {;;height: 3em;vertical-align: middle;}

.optionsgrid {display: flex;flex-wrap: wrap;align-items: center;justify-content: center;gap: 1px;}

.optionsgrid > * {width: 120px;height: 120px;text-align: center;padding: 0.5em;background-color: #222;display: flex !important;flex-direction: column;align-items: center;justify-content: center;align-content: center;border-radius: 20px 20px;cursor: pointer;}

.optionsgrid > *:hover {background-color: #442;}

.optionsgrid span {display: block;margin-top: 0.5em;}

.optionsgrid svg {width: 64px;}
.optionsgrid > *::before {
	/* content: ""; */
display: block;padding-top: 100%;float: left;} 
div.toppanel > div.menuleft {display: flex;justify-content: flex-start;gap: 1em;width: 47%;}
div.toppanel > div.menuright {display: flex;justify-content: flex-end;gap:  1em;/* width: 47%; */}
div.panelbutton {display:flex;flex-wrap: wrap;align-items: center;justify-items: center;align-content: center;justify-content: center; cursor: pointer;padding: 0 0.5vw;height: 4em;position:relative}

div.panelbutton.usermenu >svg> .svgicon {fill: #d6d6d6;}
div.panelbutton.usermenu.jwt >svg> .svgicon {fill: yellow;}
div.panelbutton.usermenu.exists >svg> .svgicon {fill: #65b065;}
div.panelbutton img, div.panelbutton svg {width: 40px;}
div.panelbutton span {white-space: nowrap;}
svg .svgicon {
	fill: #cdcdcd;
}
div.panelbutton:hover {
	background-color: gray;
}
div.panelbutton > div.right.submenu {
	position: absolute;
	top: 4em;
	
	right:0;
	
	border: 1px solid #883;
	background-color: #442;
	display:none;
box-shadow: 0px 10px 11px 0px black;}
div.panelbutton:hover > div.right.submenu {
	display: block;
}

ul.menu {
	padding: 0;
margin: 0;}

ul.menu > li {list-style: none;padding: 0.2em 0.5em;margin: 0;cursor: pointer;display: flex;align-items: center;}

ul.menu > li svg {
	width: 40px;
vertical-align: middle;height: 40px;flex-shrink: 0;}

ul.menu > li:hover {background-color: #663;}

div.smalltitle {
	
text-align: center;padding: 0.5em;font-weight: bold;border-bottom: 1px solid;}