

x-slider {
	display: inline-block;
	padding-left: 6em;
	position:  relative;
}
x-slider > div {
	height: 100%;
}
x-slider > div >input {
	display: block;
	box-sizing: border-box;
	width:100%;
	height:100%;
	text-align: center;
}
x-slider > div:nth-child(2) {
	position:absolute;
	left: 0;
	top:0;
	width:6em;
	bottom:0;
}
x-form {
	display:block;
}
x-form  label, x-form  div.label {
	display:flex;
	align-items: center;
	margin: 0.2em 0;
}
x-form  label > *, x-form  div.label > * {
	display:block;
	width: 50%;
}
x-form div.label label > *{
	width: unset;
}

x-section {
	display:block;
	border: 1px solid;
	padding: 1em 0.5em;
	position: relative;
	margin: 1em 0;
}
x-section-caption {
	background-color: white;
	/* border: 1px solid; */
	display: block;
	position: absolute;
	left: 1em;
	top: -0.7em;
	padding: 0 0.3em;
}
